*.suo
*.ncrunchsolution
*.user
*.cache
launchSettings.json

/.vs
/YololCompetition/bin
/YololCompetition/obj
/YololCompetitionTests/bin
/YololCompetitionTests/obj
/_ReSharper.Caches
/YololCompetition/token.txt
